# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  - push
  - pull_request

jobs:
  build:
    strategy:
      matrix:
        include:
          - operating-system: 'ubuntu-latest'
            java-version: '17'

          - operating-system: 'ubuntu-latest'
            java-version: '21'

          - operating-system: 'ubuntu-latest'
            java-version: '25'

    name: Java ${{ matrix.java-version }}
    runs-on: ${{ matrix.operating-system }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'corretto'
      - name: Build with Maven
        run: mvn -B test jacoco:report package --file pom.xml